<p id="notice"><%= notice %></p>

<%= render "search" %>

<%# <br>  %>

<%# <%= link_to 'Show', repairable %>
<%# <%= link_to 'Edit', edit_repairable_path(repairable) %>
<%# <%= link_to 'Destroy', repairable, method: :delete, data: { confirm: 'Are you sure?' } %> 
<%# <%= link_to 'New Repairable', new_repairable_path %>
