<secton class="form_auth">
  <h1 class="h3 mb-3 font-weight-normal">Sign up</h1>
  <%= form_for(resource, as: resource_name, url: ccount_session_path(resource_name)) do |f| %>  
  <label for="inputEmail" class="sr-only">Email address</label>
  <%= f.email_field :email, required: false, autofocus: true, class: "form-control", id: "inputEmail", placeholder: "Email adress", autocomplete: "current-email"  %>
  
  <label for="inputPassword" class="sr-only">Password</label>
  <%= f.password_field :password, required: false, class: "form-control", id: "inputPassword", placeholder: "Password" %>
  
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <p class="mt-5 mb-3 text-muted">© 2017-2020</p>
<% end %>
<%= render "devise/shared/links" %>
</secton>

<%# <h2>Log in</h2>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%# <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%# <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%# <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  <%# </div> %>

  <%# <div class="form-actions"> %>
    <%# <%= f.button :submit, "Log in" %> %>
  <%# </div> %>

